@import "../../colors.scss";

.table__footer {
  background-color: $primaryColor;
  min-height: 47px;
  margin-top: auto;
  color: $grayColor;
  text-align: center;
  color: $whiteColor;
  padding: 10px 35px;
}

.table__footer--label {
  font-weight: 300;
  font-size: 18px;
}

.table__footer--title {
  align-items: flex-end;
  display: flex;
}
