@import "../../colors.scss";

.buttonLarge {
  border: none;
  padding: 4px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 2px 3px $box-shadow-primary;
  -webkit-box-shadow: 1px 2px 3px $box-shadow-primary;
  -moz-box-shadow: 1px 2px 3px $box-shadow-primary;
  &:hover {
    background-color: $grayColor;
  }
}

.button__img {
  margin-right: 5px;
  width: 11px;
  height: 11px;
}

.button__label {
  font-size: 12px;
  font-weight: 700;
}
