.buttonLarge {
  border: none;
  padding: 4px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 2px 3px #c5c3c3;
  -webkit-box-shadow: 1px 2px 3px #c5c3c3;
  -moz-box-shadow: 1px 2px 3px #c5c3c3;
}

.buttonLarge:hover {
  background-color: gray;
}

.button__img {
  margin-right: 5px;
  width: 11px;
  height: 11px;
}

.button__label {
  font-size: 12px;
  font-weight: 700;
}
