.button {
  height: 30px;
  line-height: 30px;
  width: 30px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 3px #c3c3c3;
}

.button:hover {
  background-color: white;
}
