.container {
  padding: 20px;
  background: #fafafa;
}

.container:hover {
  background-color: #05a2aa;
  color: white;
  cursor: pointer;
}

.container:hover label {
  color: white;
}

.container__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info__product {
  display: flex;
  flex-direction: column;
}

.info__value {
  text-align: end;
}

hr {
  margin: 0;
}

.info__general {
  font-weight: 700;
  font-size: 12px;
  color: #a0a0a0;
}

.info__id {
  font-weight: 700;
  color: #6d737b;
}

.info__advance {
  font-size: 12px;
  font-weight: 700;
  color: #05a2aa;
  text-align: end;
}

.info__value--label {
  font-size: 22px;
  font-weight: 600;
  color: #475059;
}
