@import "../../colors.scss";
$containerColor: #fafafa;
$hrColor: #f4f5f5;
$infoColor: #a0a0a0;
$idColor: #6d737b;
$infoLabelColor: #475059;

.container {
  padding: 20px;
  background: $containerColor;
  &:hover {
    background-color: $primaryColor;
    color: $whiteColor;
    cursor: pointer;
    label {
      color: $whiteColor;
    }
  }
}

.container__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info__product {
  display: flex;
  flex-direction: column;
}

.info__value {
  text-align: end;
}

.hr__product {
  margin: 0 auto;
  border-bottom: 0;
  width: 260px;
  background-color: $hrColor;
}

.info__general {
  font-weight: 700;
  font-size: 12px;
  color: $infoColor;
}

.info__id {
  font-weight: 700;
  color: $idColor;
}

.info__advance {
  font-size: 12px;
  font-weight: 700;
  color: $primaryColor;
  text-align: end;
}

.info__value--label {
  font-size: 22px;
  font-weight: 600;
  color: $infoLabelColor;
}
