@import "../../colors.scss";

.footer__title {
  vertical-align: -webkit-baseline-middle;
}

.app__footer {
  background-color: $whiteColor;
  min-height: 3rem;
  margin-top: auto;
  color: $grayColor;
  text-align: center;
}
