@import "../../colors.scss";

.app__section--detail {
  position: relative;
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  background-color: $whiteColor;
  box-shadow: -11px 2px 17px -7px RGB(0 0 0 / 68%);
  -webkit-box-shadow: -11px 2px 17px -7px RGB(0 0 0 / 68%);
  -moz-box-shadow: -11px 2px 17px -7px RGB(0 0 0 / 68%);
}

th, td{
  padding: 0px 20px;
}

td{
  color: $grayColor;
  font-weight: 700;
  font-size: 12px;
}

.table__tbody {
  background-color: $whiteColor;
  text-align: left;
  height: 270px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table__head {
  background-color: $thirdColor;
  height: 34px;
  align-items: center;
  font-weight: 200;
  &:after {
    content: "";
    display: block;
    margin-bottom: -1;
    border-bottom: 1px solid $whiteColor;
    max-width: 150px;
  }
}
.head__edit{
  height: 6px;
  padding: 20px;
  background-color: $thirdColor;
  color: $whiteColor;
}

table tbody {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th {
  font-weight: 200;
}

.head__hr {
  margin: 0;
  border: 0;
  height: 1px;
}

.head__product {
  margin-left: 20px;
  font-weight: 600;
  color: $whiteColor;
  margin-top: 6px;
}

.tr__head {
  height: 45px;
  color: $whiteColor;
}

.detail__button {
  color: $whiteColor;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: -40px;
}
