.app__section--detail {
  position: relative;
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.table__tbody {
  background-color: white;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table__head {
  background-color: #47dbd6;
  height: 34px;
  align-items: center;
  font-weight: 200;
}

.table__head:after {
  content: "";
  display: block;
  margin-bottom: -1;
  border-bottom: 1px solid #fff;
  max-width: 150px;
}

th {
  font-weight: 200;
}

.head__hr {
  margin: 0;
  border: 0;
  height: 1px;
}

.head__product {
  margin-left: 20px;
  font-weight: 600;
  color: white;
  margin-top: 6px;
}

.tr__head {
  height: 45px;
  color: white;
}

.detail__button {
  background-color: orange;
  color: white;
  padding: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: -20px;
}
