@import "../../colors.scss";
$borderColor: #c1c1c1;

.display-row {
  display: flex;
  flex-direction: column;
}

.investor {
  flex: 3;
}

.flex {
  flex: 2;
}

.edit {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid $borderColor;
  height: 50px;
  label {
    font-size: 12px;
    font-weight: 700;
    color: $primaryColor;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

select {
  margin-bottom: 1em;
  padding: 0.25em;
  border: 0;
  border-bottom: 1px solid $grayColor;
  border-radius: 0;
  width: 65%;
  &:focus,
  &:active {
    outline: 0;
  }
}

input {
  margin-bottom: 1em;
  padding: 0.25em;
  border: 0;
  border-bottom: 1px solid $grayColor;
  border-radius: 0;
  &:focus,
  &:active {
    outline: 0;
  }
}
