.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.App__header {
  background-color: #2c2c2c;
  height: 6rem;
}

.App__footer {
  background-color: #f2f4f4;
  min-height: 3rem;
  margin-top: auto;
  color: gray;
  text-align: center;
}

.App__section {
  display: flex;
  height: inherit;
}

.App__section--detail {
  background-color: hotpink;
  flex: 0 0 70%;
}
