$primaryColor: #05a2aa;
$secondaryColor: #fafafc;
$thirdColor: #47dbd6;
$box-shadow-primary: #c5c3c3;
$whiteColor: #fff;
$grayColor: gray;
$headerColor: #2c2c2c;
$sectionColor: #f2f4f4;
$sectionFooterColor: #e6e6e6de;